<div class="col-md-12" style="min-width: 100%!important; ">
    <div class="row  gradient-buttons ">
        <div class="card " style="border-radius: 0px; min-width: 100%!important; ">
            <div class="btn-group mr-2" role="group" aria-label="First group" style="border-radius: 0px;">
                <button type="button" class="btn btn-secondary">1</button>
                <button type="button" class="btn btn-secondary">2</button>
                <button type="button" class="btn btn-secondary">3</button>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="card " style="background-color: #643e94;border-radius: 0px; min-width: 100%!important; ">

            <div class="card-body">
                <input class="form-control " style="border-radius: 0px;min-width: 100%!important; " type="search"
                    placeholder="Search" aria-label="Search" [(ngModel)]="term">
            </div>
        </div>

        <div class="container-fluid  containerX">
            <div (click)="getCountries(sport.sportId)" *ngFor="let sport of sport | filter:term" class="media mt-2">
                <img class="imageclass" src="{{sport.imageUrl}}" width="50" height="50" alt="">

                <div class="media-body text-nowrap" style="background-color: #2b2b2b;min-height: 50px;">
                    <h5 class="text-white mt-2" style="text-align: center;">
                        {{sport.name}}</h5>
                </div>
            </div>

        </div>

    </div>
</div>