<div class="row">
    <div class="col-md-12">
        <img src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/r25-sign-up-bonus.png" style="width: 100%;" alt="Nedbank TUV" alt="">
        </div>
        
        <div class="col-md-6 mt-3">
            <!-- <img src="/assets/img/mg1.PNG"  style="width: 100%;" alt="Nedbank TUV" alt=""> -->
            <app-fixtures></app-fixtures>
        </div>
        
        <div class="col-md-6 mt-3">
            <img src="/assets/img/mg1.PNG"  style="width: 100%;" alt="Nedbank TUV" alt="">
        </div>
</div>