
<div class="row mt-3" style="background-color:#1e1e1e; color: white !important; border-top: 1px solid #643e94!important; padding-top: 15px;">

    <div class="col-md-4">

        <p class="level1text"><strong>Bet with Hollywoodbets</strong><br><br>We offer the best in <strong>sports and horse racing betting</strong>. Our sports betting site features a large variety of events and markets to bet on, with expert betting support both online and in-store. We offer local and international horse racing betting, an extensive sports offering from soccer to rugby as well as our fantastic <strong>Lucky Numbers</strong> offering. We are also proud to offer live betting with our <strong>Live In-Play</strong> and <strong>Betgames Africa</strong> options.<br><br><strong>Hollywoodbets strictly prohibits access and services to those under the legal age of Eighteen (18+)</strong></p>

    </div>

    <div class="col-md-5">

            <div class="row">

                <div class="col-md-3">
                    <h6 class="footerheadings text-nowrap">ABOUT US</h6>
                    <a class="footeroption" href="#">About Us</a>
                </div>
    
                <div class="col-md-3">
                    <h6 class="footerheadings text-nowrap">VIDEOS</h6>
                    <a class="footeroption" href="#">CSI Videos</a>
                    <a class="footeroption" href="#">How To Register</a>
                    <a class="footeroption" href="#">How To Bet</a>
                    <a class="footeroption" href="#">How To Deposit and Withdrawal</a>
                
                </div>
    
                <div class="col-md-3">
                    <h6 class="footerheadings text-nowrap">INFO</h6>
                    <a class="footeroption" href="#">Applications</a>
                    <a class="footeroption" href="#">Internet Liability</a>
                </div>
    
                <div class="col-md-3">
                    <h6 class="footerheadings text-nowrap">LEGAL</h6>
                    <a class="footeroption" href="#">Responsible Gambling</a>
                    <a class="footeroption" href="#">Disclaimer</a>
                    <a class="footeroption" href="#">Terms and Conditions</a>
                    <a class="footeroption" href="#">Gambling Boards</a>
                    <a class="footeroption" href="#">Cash Send - Terms and Conditions</a>
                </div>

            </div>
        
    </div>

    <div class="col-md-3">

            <i class="fa fa-facebook footericon fa-2x rounded-circle"></i>
            <i class="fa fa-twitter footericon fa-2x rounded-circle"></i>
            <i class="fa fa-mobile footericon fa-2x rounded-circle"></i>
            <i class="fa fa-instagram footericon fa-2x rounded-circle"></i>
            <i class="fa fa-youtube-square footericon fa-2x rounded-circle"></i>
            <i class="fa fa-rss-square footericon 
            
            fa-2x rounded-circle"></i>                                                                        

    </div>
    
</div>
<div class=payments>
    <div class="row">
        <div class="container text-center">
            <!----><!----><!---->
            <img class="footerimage" src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/ozow.png" alt="OZOW payment method">
            <!----><!----><!---->
            <img class="footerimage" src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/peach-payments.png" alt="Peach Payments payment method">
            <!----><!----><!---->
            <img class="footerimage" src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/virtual.png" alt="Virtual card service payment method">
            <!----><!----><!---->
            <img class="footerimage" src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/payfast.png" alt="PayFast payment method">
            <!----><!----><!---->
            <img class="footerimage" src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/sid-instant-eft.png" alt="SiD Instant EFT">
            <!----><!----><!---->
            <img class="footerimage" src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/zapper.png" alt="Zapper payment method">
            <!----><!----><!---->
            <img class="footerimage" src="https://hollywoodmedia.hollywoodbets.net/images/cms/new-website/images/payu.png" alt="PayU">
            <!---->
        </div>
    </div>
</div>


<div class="row" style="background-color:#1e1e1e; color: white; padding-top: 15px;">
    <div _ngcontent-obr-c0="" class="container-fluid">
        <div _ngcontent-obr-c0="" class="row">
            <div _ngcontent-obr-c0="" class="col-lg-3">

            </div><div _ngcontent-obr-c0="" class="col-lg-6 col-xs-12">
                <p _ngcontent-obr-c0="" class="text-center"><span _ngcontent-obr-c0=""><p>HOLLYWOOD SPORTSBOOK IS A LICENSED BETTING OPERATOR. HOLLYWOODBETS SUPPORTS RESPONSIBLE GAMBLING.&nbsp;<br>
        NO PERSONS UNDER THE AGE OF 18 YEARS ARE PERMITTED TO GAMBLE. WINNERS KNOW WHEN TO STOP.NATIONAL GAMBLING TOLL-FREE COUNSELLING LINE 0800 006 008.</p>
        </span></p></div><div _ngcontent-obr-c0="" class="col-lg-3"></div></div></div>
</div>